In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies = movies.merge(credits,on='title')

In [4]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [5]:
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [7]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [8]:
movies.dropna(inplace=True)

In [9]:
movies.duplicated().sum()

0

In [10]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [11]:
import ast

In [12]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [13]:
movies.dropna(inplace=True)

In [14]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [15]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
def convert3(obj):
    L = []
    counter = 0 
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter += 1
        else:
            break
        return L

In [17]:
movies['cast']=movies['cast'].apply(convert3)

In [18]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[Sam Worthington],"[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Johnny Depp],"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [19]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [20]:
movies['crew'] = movies["crew"].apply(fetch_director)

In [21]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[Sam Worthington],[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Johnny Depp],[Gore Verbinski]

In [22]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [23]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[Sam Worthington],[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Johnny Depp],[Gore Verbinski]

In [ ]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])

In [26]:
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])

In [31]:
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ","") for i in x] if x is not None else [])

In [33]:
movies['cast'][6]

['ZacharyLevi']

In [30]:
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])

In [34]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",[SamWorthington],[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",[JohnnyDepp],[GoreVerbinski]

In [35]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [36]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",[SamWorthington],[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",[JohnnyDepp],[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."

In [37]:
new_df = movies[['movie_id','title','tags']]

In [38]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [39]:
new_df['tags'] = new_df['tags'].apply(lambda x:"  ".join(x))

C:\Users\mimal\AppData\Local\Temp\ipykernel_22280\1083930051.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:"  ".join(x))

In [40]:
new_df

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be de..."
2,206647,Spectre,A cryptic message from Bond’s past sends...
3,49026,The Dark Knight Rises,Following the death of District Attorney ...
4,49529,John Carter,"John Carter is a war-weary, former milit..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guit...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended ...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a ..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is ...
4808,25975,My Date with Drew,Ever since the second grade when he fir...

In [42]:
new_df['tags']= new_df['tags'].apply(lambda x:x.lower())

C:\Users\mimal\AppData\Local\Temp\ipykernel_22280\899821970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']= new_df['tags'].apply(lambda x:x.lower())

In [43]:
new_df.head(2)

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be de..."

In [44]:
new_df['tags'][1]

"captain  barbossa,  long  believed  to  be  dead,  has  come  back  to  life  and  is  headed  to  the  edge  of  the  earth  with  will  turner  and  elizabeth  swann.  but  nothing  is  quite  as  it  seems.  adventure  fantasy  action  ocean  drugabuse  exoticisland  eastindiatradingcompany  loveofone'slife  traitor  shipwreck  strongwoman  ship  alliance  calypso  afterlife  fighter  pirate  swashbuckler  aftercreditsstinger  johnnydepp  goreverbinski"

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

In [49]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [50]:
vectors[10]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [55]:
!pip install nltk

Requirement already satisfied: nltk in c:\ds_practice\myenv\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\ds_practice\myenv\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\ds_practice\myenv\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\ds_practice\myenv\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\ds_practice\myenv\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\ds_practice\myenv\lib\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [53]:
import nltk

In [57]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [58]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [60]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\mimal\AppData\Local\Temp\ipykernel_22280\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [62]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zombies', 'zone', 'zoo'], dtype=object)

In [63]:
from sklearn.metrics.pairwise import cosine_similarity

In [66]:
similarity = cosine_similarity(vectors)

In [67]:
similarity[20]

array([0.05773503, 0.0843274 , 0.0421637 , ..., 0.        , 0.        ,
       0.        ])

In [69]:
sorted(similarity[0],reverse=True)

[1.0,
 0.2651650429449553,
 0.2608745973749754,
 0.2518277005725965,
 0.24759378423606915,
 0.24459979523511427,
 0.24056261216234406,
 0.24019223070763068,
 0.23717082451262844,
 0.23570226039551587,
 0.23570226039551584,
 0.2311250817605121,
 0.22613350843332272,
 0.22222222222222227,
 0.22075539284417395,
 0.2187974872468418,
 0.2182178902359924,
 0.21428571428571427,
 0.2132007163556104,
 0.2132007163556104,
 0.2132007163556104,
 0.2130032168075646,
 0.21004201260420144,
 0.20833333333333331,
 0.20823168251814142,
 0.20623947784607632,
 0.20008168266626025,
 0.19999999999999998,
 0.19999999999999998,
 0.19528336647123584,
 0.19245008972987526,
 0.19245008972987526,
 0.1911797782254681,
 0.19050019050028574,
 0.1892583246525563,
 0.1889822365046136,
 0.18898223650461357,
 0.18750000000000003,
 0.18681617943926832,
 0.18633899812498245,
 0.18633899812498245,
 0.18569533817705186,
 0.18569533817705186,
 0.1849000654084097,
 0.1849000654084097,
 0.18446619684315546,
 0.18220272220337375,
 0.18220272220337375,
 0.18220272220337375,
 0.1819017187772497,
 0.181848241863327,
 0.1800205749557739,
 0.17960530202677488,
 0.17791499872137212,
 0.17407765595569785,
 0.17407765595569785,
 0.17376201171422898,
 0.17213259316477406,
 0.17201561551404662,
 0.17010345435994292,
 0.17010345435994292,
 0.16933350266692065,
 0.1690308509457033,
 0.16666666666666669,
 0.16666666666666666,
 0.16666666666666666,
 0.16666666666666666,
 0.1649915822768611,
 0.16343011261515333,
 0.1633660098032678,
 0.16222142113076252,
 0.16169041669088863,
 0.16037507477489604,
 0.16012815380508713,
 0.16012815380508713,
 0.16012815380508713,
 0.16012815380508713,
 0.15876322406928006,
 0.15748519708717798,
 0.15617376188860604,
 0.1543033499620919,
 0.15249857033260467,
 0.15249857033260467,
 0.15214515486254612,
 0.15214515486254612,
 0.15214515486254612,
 0.14937635992171197,
 0.14907119849998596,
 0.14907119849998596,
 0.14907119849998596,
 0.14907119849998596,
 0.1474419561548971,
 0.14731391274719738,
 0.14731391274719738,
 0.14731391274719738,
 0.14586499149789456,
 0.14547859349066158,
 0.14547859349066158,
 0.14547859349066158,
 0.14547859349066158,
 0.14506471329641488,
 0.14506471329641488,
 0.14470719035407653,
 0.14360673947588817,
 0.14291548761875733,
 0.14291548761875733,
 0.14291548761875733,
 0.14213381090374028,
 0.1414213562373095,
 0.14085904245475275,
 0.14085904245475275,
 0.13900960937138318,
 0.1388888888888889,
 0.1386750490563073,
 0.1386750490563073,
 0.13736056394868904,
 0.13736056394868904,
 0.13699915608779772,
 0.13608276348795434,
 0.13608276348795434,
 0.13608276348795434,
 0.13608276348795434,
 0.13608276348795434,
 0.13562224520112248,
 0.13518451760896877,
 0.13518451760896877,
 0.13518451760896877,
 0.13483997249264842,
 0.13471506281091267,
 0.1336306209562122,
 0.13344012817090595,
 0.13344012817090595,
 0.13333333333333333,
 0.13333333333333333,
 0.13333333333333333,
 0.13333333333333333,
 0.13333333333333333,
 0.13333333333333333,
 0.13333333333333333,
 0.13176156917368248,
 0.13176156917368248,
 0.13074409009212268,
 0.13074409009212268,
 0.13074409009212268,
 0.1301448015738384,
 0.12909944487358055,
 0.12909944487358055,
 0.12909944487358055,
 0.12858612496840993,
 0.12858612496840993,
 0.12830005981991682,
 0.12830005981991682,
 0.12803687993289598,
 0.1270821419438372,
 0.1270821419438372,
 0.1270821419438372,
 0.1270821419438372,
 0.1270821419438372,
 0.1270001270001905,
 0.1259881576697424,
 0.1259881576697424,
 0.1256297269074015,
 0.1256297269074015,
 0.1256297269074015,
 0.1256297269074015,
 0.1256297269074015,
 0.1256297269074015,
 0.125,
 0.125,
 0.12422599874998833,
 0.12422599874998831,
 0.12422599874998831,
 0.12379689211803457,
 0.12379689211803457,
 0.12379689211803457,
 0.12379689211803457,
 0.12379689211803457,
 0.1228682967957476,
 0.1217161238900369,
 0.1217161238900369,
 0.1217161238900369,
 0.12155415958157878,
 0.12126781251816647,
 0.12126781251816647,
 0.12038585308576918,
 0.12028130608117205,
 0.12028130608117205,
 0.12028130608117205,
 0.11973686801784994,
 0.11973686801784994,
 0.11973686801784994,
 0.11973686801784994,
 0.11973686801784994,
 0.11952286093343935,
 0.11904761904761904,
 0.11867816581938531,
 0.11785113019775793,
 0.11785113019775793,
 0.11785113019775793,
 0.11785113019775792,
 0.1178511301977579,
 0.1178511301977579,
 0.1178511301977579,
 0.1178511301977579,
 0.1178511301977579,
 0.1178511301977579,
 0.1160517706371319,
 0.1160517706371319,
 0.1160517706371319,
 0.1160517706371319,
 0.11556254088025605,
 0.11547005383792512,
 0.11470786693528086,
 0.11470786693528086,
 0.11470786693528086,
 0.11470786693528086,
 0.11470786693528086,
 0.11470786693528086,
 0.11433239009500587,
 0.11433239009500587,
 0.11433239009500587,
 0.11433239009500587,
 0.11340230290662862,
 0.11340230290662862,
 0.1126872339638022,
 0.1126872339638022,
 0.1126872339638022,
 0.1126872339638022,
 0.1126872339638022,
 0.1126872339638022,
 0.1126872339638022,
 0.11236664374387369,
 0.11236664374387369,
 0.11180339887498947,
 0.11180339887498947,
 0.11180339887498947,
 0.11180339887498947,
 0.11180339887498947,
 0.11180339887498947,
 0.11180339887498947,
 0.11135885079684349,
 0.11135885079684349,
 0.1111111111111111,
 0.1111111111111111,
 0.1111111111111111,
 0.1111111111111111,
 0.1111111111111111,
 0.1111111111111111,
 0.11037769642208699,
 0.10959932487023819,
 0.10959932487023819,
 0.10959932487023819,
 0.10959932487023819,
 0.10959932487023819,
 0.10959932487023819,
 0.10942202738310211,
 0.1091089451179962,
 0.10910894511799618,
 0.10910894511799618,
 0.10910894511799618,
 0.10910894511799618,
 0.10910894511799618,
 0.10910894511799618,
 0.10910894511799618,
 0.10910894511799618,
 0.10849075915068657,
 0.10814761408717502,
 0.10814761408717502,
 0.10814761408717502,
 0.10675210253672475,
 0.10675210253672475,
 0.10675210253672475,
 0.10669739994407998,
 0.10669739994407998,
 0.10660035817780521,
 0.10660035817780521,
 0.10660035817780521,
 0.10660035817780521,
 0.10660035817780521,
 0.10660035817780521,
 0.10660035817780521,
 0.10660035817780521,
 0.10660035817780521,
 0.10660035817780521,
 0.10660035817780521,
 0.10660035817780521,
 0.105999788000636,
 0.10583343916682542,
 0.10540925533894598,
 0.10540925533894598,
 0.10540925533894598,
 0.10540925533894598,
 0.10425720702853739,
 0.10425720702853739,
 0.10425720702853739,
 0.10425720702853739,
 0.10425720702853739,
 0.10425720702853739,
 0.10425720702853739,
 0.10411584125907071,
 0.10411584125907071,
 0.10411584125907071,
 0.10411584125907071,
 0.10286889997472794,
 0.10286889997472794,
 0.10286889997472794,
 0.10286889997472794,
 0.10286889997472794,
 0.10286889997472794,
 0.10206207261596575,
 0.10206207261596575,
 0.10206207261596575,
 0.10206207261596575,
 0.10206207261596575,
 0.10206207261596575,
 0.10206207261596575,
 0.10206207261596575,
 0.10206207261596575,
 0.10166571355506977,
 0.10166571355506977,
 0.10166571355506977,
 0.10166571355506977,
 0.10166571355506977,
 0.10166571355506977,
 0.10050378152592121,
 0.10050378152592121,
 0.10050378152592121,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.1,
 0.09938079899999065,
 0.09938079899999065,
 0.09938079899999065,
 0.09829463743659808,
 0.09820927516479827,
 0.09820927516479827,
 0.09805806756909201,
 0.09805806756909201,
 0.09805806756909201,
 0.09805806756909201,
 0.09805806756909201,
 0.09805806756909201,
 0.09805806756909201,
 0.09805806756909201,
 0.09805806756909201,
 0.09724332766526303,
 0.09622504486493763,
 0.09622504486493763,
 0.09622504486493763,
 0.09622504486493763,
 0.09622504486493763,
 0.09622504486493763,
 0.09622504486493763,
 0.09622504486493762,
 0.09622504486493762,
 0.09622504486493762,
 0.09622504486493762,
 0.09622504486493762,
 0.09622504486493762,
 0.09622504486493762,
 0.09622504486493762,
 0.09622504486493762,
 0.09622504486493762,
 0.09622504486493762,
 0.09622504486493762,
 0.0962250448649376,
 0.09558988911273406,
 0.09558988911273406,
 0.09523809523809523,
 0.0944911182523068,
 0.0944911182523068,
 0.0944911182523068,
 0.0944911182523068,
 0.0944911182523068,
 0.09428090415820634,
 0.09428090415820634,
 0.09316949906249122,
 0.09284766908852593,
 0.09284766908852593,
 0.09284766908852593,
 0.09284766908852593,
 0.09284766908852593,
 0.09284766908852593,
 0.09284766908852593,
 0.09284766908852593,
 0.09284766908852593,
 0.09284766908852593,
 0.09284766908852593,
 0.09284766908852593,
 0.09259259259259259,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09245003270420485,
 0.09157370929912602,
 0.09157370929912602,
 0.09157370929912602,
 0.09128709291752768,
 0.09128709291752768,
 0.09128709291752768,
 0.09128709291752768,
 0.09128709291752768,
 0.09128709291752768,
 0.09128709291752768,
 0.09128709291752768,
 0.09128709291752768,
 0.09128709291752768,
 0.09072184232530289,
 0.09072184232530289,
 0.09072184232530289,
 0.08989331499509895,
 0.08989331499509895,
 0.08980265101338746,
 0.08980265101338746,
 0.08980265101338746,
 0.08980265101338746,
 0.08980265101338746,
 0.08980265101338746,
 0.08980265101338746,
 0.08980265101338746,
 0.08980265101338746,
 0.08980265101338746,
 0.08980265101338746,
 0.08980265101338746,
 0.08934271123648291,
 0.0890870806374748,
 0.0890870806374748,
 0.0890870806374748,
 0.0890870806374748,
 0.0890870806374748,
 0.0890870806374748,
 0.0890870806374748,
 0.0890870806374748,
 0.0890870806374748,
 0.0890870806374748,
 0.08838834764831843,
 0.08838834764831843,
 0.08838834764831843,
 0.08838834764831843,
 0.08838834764831843,
 0.08838834764831843,
 0.08838834764831843,
 0.08838834764831843,
 0.08838834764831843,
 0.08838834764831843,
 0.08830215713766959,
 0.08753762190648169,
 0.08753762190648169,
 0.08753762190648169,
 0.08753762190648169,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08703882797784893,
 0.08679260732054925,
 0.08679260732054925,
 0.08679260732054925,
 0.08679260732054925,
 0.08606629658238703,
 0.08606629658238703,
 0.08606629658238703,
 0.08606629658238703,
 0.08606629658238703,
 0.08606629658238703,
 0.08606629658238703,
 0.08606629658238703,
 0.08606629658238703,
 0.08606629658238703,
 0.08606629658238703,
 0.08606629658238703,
 0.08606629658238703,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08535791995526398,
 0.08535791995526398,
 0.08466675133346033,
 0.08451542547285165,
 0.08451542547285165,
 0.08451542547285165,
 0.08451542547285165,
 0.08451542547285165,
 0.08451542547285165,
 0.08451542547285165,
 0.08451542547285165,
 0.08451542547285165,
 0.08451542547285165,
 0.08451542547285165,
 0.08451542547285165,
 0.08451542547285165,
 0.08399210511316159,
 0.08399210511316159,
 0.08399210511316159,
 0.08399210511316159,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08333333333333333,
 0.08268982305947231,
 0.0826898230594723,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08206099398622181,
 0.08206099398622181,
 0.08111071056538127,
 0.08111071056538127,
 0.08111071056538127,
 0.08111071056538127,
 0.08111071056538127,
 0.08111071056538127,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08084520834544431,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.08006407690254357,
 0.07945521577046602,
 0.07911877721292354,
 0.07905694150420949,
 0.07905694150420949,
 0.07905694150420949,
 0.07905694150420949,
 0.07905694150420949,
 0.07905694150420949,
 0.07856742013183862,
 0.07856742013183862,
 0.07856742013183862,
 0.07856742013183862,
 0.07856742013183862,
 0.07856742013183862,
 0.07856742013183862,
 0.07856742013183862,
 0.07856742013183862,
 0.07856742013183862,
 0.07856742013183862,
 0.07808688094430304,
 0.07808688094430304,
 0.07808688094430304,
 0.07808688094430304,
 0.07808688094430304,
 0.07808688094430304,
 0.07808688094430304,
 0.07808688094430304,
 0.07808688094430304,
 0.07808688094430304,
 0.07808688094430302,
 0.07715167498104596,
 0.07715167498104596,
 0.07715167498104596,
 0.07715167498104596,
 0.07715167498104596,
 0.07715167498104596,
 0.07715167498104596,
 0.07715167498104596,
 0.07715167498104596,
 0.07715167498104596,
 0.07715167498104596,
 0.07671455149152695,
 0.07647191129018724,
 0.07647191129018724,
 0.07647191129018724,
 0.07647191129018724,
 0.07647191129018724,
 0.07647191129018724,
 0.07647191129018724,
 0.07647191129018724,
 0.07647191129018724,
 0.07647191129018724,
 0.07647191129018724,
 0.07647191129018724,
 0.07624928516630233,
 0.07624928516630233,
 0.07624928516630233,
 0.07624928516630233,
 0.07624928516630233,
 0.07624928516630233,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07537783614444091,
 0.07500586006173493,
 0.07453559924999299,
 0.07453559924999299,
 0.07453559924999299,
 0.07453559924999299,
 0.07453559924999299,
 0.07453559924999299,
 0.07453559924999298,
 0.07453559924999298,
 0.07453559924999298,
 0.07453559924999298,
 0.07453559924999298,
 0.07453559924999298,
 0.07453559924999298,
 0.07453559924999298,
 0.07453559924999298,
 0.07453559924999298,
 0.07453559924999298,
 0.07453559924999298,
 0.07407407407407407,
 0.07372097807744857,
 0.07372097807744857,
 0.07372097807744857,
 0.07372097807744857,
 0.07372097807744857,
 0.07372097807744857,
 0.07372097807744857,
 0.07372097807744857,
 0.07317617332646023,
 0.07293249574894728,
 0.07293249574894728,
 0.07293249574894728,
 0.07293249574894728,
 0.07293249574894728,
 0.07293249574894728,
 0.07293249574894728,
 0.07273929674533079,
 0.07273929674533079,
 0.07273929674533079,
 0.07273929674533079,
 0.07273929674533079,
 0.07273929674533079,
 0.07273929674533079,
 0.07273929674533079,
 0.07273929674533079,
 0.07216878364870322,
 0.07216878364870322,
 0.07216878364870322,
 0.07216878364870322,
 0.07147416898918632,
 0.07142857142857142,
 0.07142857142857142,
 0.07142857142857142,
 0.07142857142857142,
 0.07142857142857142,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07106690545187014,
 0.07071067811865475,
 0.07071067811865475,
 0.07071067811865475,
 0.07071067811865475,
 0.07071067811865475,
 0.07071067811865475,
 0.07071067811865475,
 0.07071067811865475,
 0.07066652533375734,
 0.07042952122737638,
 0.07001400420140048,
 0.07001400420140048,
 0.07001400420140048,
 0.07001400420140048,
 0.07001400420140048,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06950480468569159,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.06868028197434452,
 0.06868028197434452,
 0.06868028197434452,
 0.06868028197434452,
 0.06868028197434452,
 0.06868028197434452,
 0.06868028197434452,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06804138174397717,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.06741998624632421,
 0.0674199862463242,
 0.0668153104781061,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.06622661785325219,
 0.06622661785325219,
 0.06565321642986127,
 0.06565321642986127,
 0.06565321642986127,
 0.06565321642986127,
 0.06565321642986127,
 0.06565321642986127,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06509445549041193,
 0.06509445549041193,
 0.06509445549041193,
 0.06454972243679027,
 0.06454972243679027,
 0.06454972243679027,
 0.06454972243679027,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06415002990995841,
 0.06401843996644799,
 0.06350006350009524,
 0.06350006350009524,
 0.06350006350009524,
 0.06350006350009524,
 0.06350006350009524,
 0.06350006350009524,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0629940788348712,
 0.0625,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.06189844605901729,
 0.061113233135214086,
 0.06108472217815261,
 0.06108472217815261,
 0.06108472217815261,
 0.06085806194501845,
 0.06085806194501845,

In [71]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(539, 0.2651650429449553),
 (1192, 0.2608745973749754),
 (507, 0.2518277005725965),
 (260, 0.24759378423606915),
 (1214, 0.24459979523511427)]

In [76]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distnances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distnances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [77]:
import pickle

In [78]:
pickle.dump(new_df,open('movie_list.pkl','wb'))

In [79]:

with open('movies.pkl', 'wb') as f:
    pickle.dump(movies, f)

In [80]:

with open('similarity.pkl', 'wb') as f:
    pickle.dump(similarity, f)